# Step 1: DECLARE VARIABLE

In [8]:
Names = ["Ann", "Jane", "Joan", "Claire", "Elizabeth", "Charles", "Jude", "James", "Kelvin", "Prosper"]
Age = [14,16,14,17,16,15,16,16,17,14]
Height = [5.5,6,5.4,5.9,5.6,5.7,5.9,5.8,6.1,5]
Scores = [80,85,70,60,76,85,74,87,75,68]
Gender = ["F", "F", "F", "F", "F", "M", "M", "M", "M", "M"]

# Step 2: CREATE A DICTIONARY OBJECT CONTAINING THE OBSERVATION

In [9]:
tab = {"Names": Names, "Age": Age, "Height": Height, "Scores": Scores, "Gender": Gender}

In [10]:
tab

{'Names': ['Ann',
  'Jane',
  'Joan',
  'Claire',
  'Elizabeth',
  'Charles',
  'Jude',
  'James',
  'Kelvin',
  'Prosper'],
 'Age': [14, 16, 14, 17, 16, 15, 16, 16, 17, 14],
 'Height': [5.5, 6, 5.4, 5.9, 5.6, 5.7, 5.9, 5.8, 6.1, 5],
 'Scores': [80, 85, 70, 60, 76, 85, 74, 87, 75, 68],
 'Gender': ['F', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M']}

# Step 3: IMPORT PANDAS

In [11]:
import pandas

In [12]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [13]:
data = pandas.DataFrame(tab)

In [15]:
print(data)

       Names  Age  Height  Scores Gender
0        Ann   14     5.5      80      F
1       Jane   16     6.0      85      F
2       Joan   14     5.4      70      F
3     Claire   17     5.9      60      F
4  Elizabeth   16     5.6      76      F
5    Charles   15     5.7      85      M
6       Jude   16     5.9      74      M
7      James   16     5.8      87      M
8     Kelvin   17     6.1      75      M
9    Prosper   14     5.0      68      M

In [16]:
data.to_excel('data.xlsx')